In [1]:
from timeit import Timer
from yelp_helpers import request
from yelp_helpers import load_api_key
import pandas as pd
import multiprocessing
import threading
import time
import pickle
import numpy as np
import datetime
import matplotlib.pyplot as plt
%matplotlib inline

In [13]:
key = load_api_key()

In [19]:
with open('yelp_businesses.pickle', 'rb') as pickleReader:
    business_dict = pickle.load(pickleReader)

ValueError: unsupported pickle protocol: 4

In [4]:
loc_list = np.loadtxt('../loc_list.txt')

In [5]:
loc_list[1:10]

array([[ 266.   , -111.875,   33.4  ],
       [ 501.   , -111.925, -111.925],
       [ 336.   , -111.9  , -111.9  ],
       [ 214.   , -111.875, -111.875],
       [ 266.   , -111.875, -111.875],
       [ 222.   , -111.875, -111.875],
       [ 236.   , -111.9  , -111.9  ],
       [ 261.   , -111.925, -111.925],
       [ 519.   , -111.925, -111.925]])

In [7]:
loc_list[loc_list[:,0]==266]

array([[ 266.   , -111.875,   33.4  ],
       [ 266.   , -111.875, -111.875],
       [ 266.   , -111.875, -111.875]])

In [10]:
!ls ../

LICENSE                dashboard              web
README.md              data                   yelp_businesses.pickle
Yelp_scraping.py       loc_list.txt
__pycache__            src

In [22]:
df = pd.read_csv('../src/support/ping_pong.txt', delimiter='\t', header=None)

In [30]:
match_list = []
for x in range(len(df)):
    match_list.append(df.iloc[x].values[0].split('\\t'))

In [33]:
df = pd.DataFrame(match_list)

In [35]:
df.to_csv('../src/support/ping_pong.txt', sep='\t')

In [37]:
pd.read_csv('../src/support/ping_pong.txt', delimiter='\t')

   Unnamed: 0        0      1  2        3   4   5
0           0  8/17/18   Paul  1  Singles  21  11
1           1  8/17/18  Steve  1  Singles  11  21
2           2  8/17/18   Paul  2  Singles  21  23
3           3  8/17/18  Steve  2  Singles  23  21
4           4  8/20/18   Paul  1  Singles   8  21
5           5  8/20/18  Steve  1  Singles  21   8
6           6  8/20/18   Paul  2  Singles  21  19
7           7  8/20/18  Steve  2  Singles  17  21
8           8  8/20/18   Paul  3  Singles  21  19

In [43]:
match_list = pd.read_csv('../src/support/ping_pong.txt', delimiter='\t')

In [49]:
data = zip(match_list['date'].values, match_list['name'].values, match_list['game'].values, match_list['single'].values, match_list['player'].values, match_list['opponent'].values)

In [44]:
match_list.columns

Index(['Unnamed: 0', 'date', 'name', 'game', 'single', 'player', 'opponent'], dtype='object')

In [45]:
match_list['date']

0    8/17/18
1    8/17/18
2    8/17/18
3    8/17/18
4    8/20/18
5    8/20/18
6    8/20/18
7    8/20/18
8    8/20/18
Name: date, dtype: object

In [51]:
for date, name, game, single, player, opponent in data:
    print(date, name, game, single, player, opponent)

In [52]:
'../../web/templates/ping_pong.html'

'../../web/templates/ping_pong.html'

In [53]:
!ls

Yelp_scraping.py             yelp_business_scrapper.ipynb
__pycache__                  yelp_helpers.py
support                      yelp_scrapper.sh

In [ ]:
GET https://api.yelp.com/v3/businesses/{id}/reviews

In [3]:
API_KEY = key['client_secret']
API_HOST = 'https://api.yelp.com'
SEARCH_PATH = '/v3/businesses/{id}/reviews'

In [4]:
SEARCH_PATH.format(id='18')

'/v3/businesses/18/reviews'

In [9]:
with open('../data/yelp_businesses.pickle', 'rb') as pickleReader:
    business_dict = pickle.load(pickleReader)

In [11]:
bus_ids = [k for k in business_dict.keys()]

In [23]:
business_dict[bus_ids[0]]['url']

'https://www.yelp.com/biz/four-peaks-brewing-tempe?adjust_creative=ihkhZPaVUfUYeK7PoCZp6w&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=ihkhZPaVUfUYeK7PoCZp6w'

In [14]:
stat, Yelp_data = request(API_HOST, SEARCH_PATH.format(id=bus_ids[0]), API_KEY)

Querying https://api.yelp.com/v3/businesses/JzOp695tclcNCNMuBl7oxA/reviews ...

In [17]:
for review in Yelp_data['reviews']:
    print(review['text'])

This place can get busy. But go with the right company and grab a drink, the wait won't be bad.

Good brewery menu and good beer. I mainly go for the...
This four peaks happens to be down the street from my work so i frequent here for lunch.  Four peaks not only has some of the better craft beers around by...
This place has gone down hill lately. This was the first time I had been in since the AB-InBev sell out.

I went for breakfast on the morning of the World...

In [20]:
df = pd.DataFrame(Yelp_data['reviews'])

In [21]:
df.to_csv('review.csv')

In [34]:
print((850*45)/60/60, 'hours')
print((850*45)/60/60/24, 'days')

10.625 hours
0.4427083333333333 days